{{ $page := .Page }}
{{ $site := .Site }}
{{ $list := .Site.Menus.main }}
{{ $class := "" }}

<header class="page-header">
  <div class="container">

    <a href="{{ .Site.BaseURL }}" class="site-logo">
      <div class="site-logo--image">
        <img src="{{ "images/logo.svg" | absURL }}" alt="">
      </div>
      <span>HGSK</span>
    </a>

    <nav class="navigation">
      <ul class="menu">

        {{ range $list }}
          {{ $is := $page.IsMenuCurrent "main" . }}
          {{ $has := $page.HasMenuCurrent "main" . }}

          {{ if or $is $has }}
            {{ $class = "menu__item menu__item--active" }}
          {{ else }}
            {{ $class = "menu__item" }}
          {{ end }}

          <li id="{{ .Name | lower }}"
              class="{{ $class }}">
            <a href="{{ .URL | absURL }}" class="menu__link">
              <span>{{ .Name }}</span>
            </a>
          </li>

        {{ end }}
      </ul>

      <div class="hamburger">
        <span class="hamburger__item"></span>
        <span class="hamburger__item"></span>
        <span class="hamburger__item"></span>
        <span class="hamburger__item"></span>
      </div>

    </nav>

  </div>
</header>
