<header class="page-header">
  <div class="container">

    <a href="/" class="site-logo">
      <div class="site-logo--image">
        <img src="/images/logo.svg" alt="">
      </div>
      <span>HGSK</span>
    </a>

    <nav class="navigation">

      {{ $page := .Page }}
      {{ $site := .Site }}

      {{ $list := .Site.Menus.main }}
      {{ $len := (len $list) }}

      <ul class="menu">

        {{ range $list }}
          {{ $is := $page.IsMenuCurrent "main" . }}
          {{ $has := $page.HasMenuCurrent "main" . }}

          <li id="{{ .Name | lower }}"
              {{ if or $is $has }}
                class="menu__item menu__item--active"
              {{ else }}
                class="menu__item"
              {{ end }}>
            {{ if .HasChildren }}
              <a href="{{ .URL }}" class="menu__link menu__link--submenu">
                <span>{{ .Name }}</span>
                {{ .Pre }}
              </a>
              <ul class="submenu">
                <li class="submenu__item submenu__item--static">
                  <a href="#" class="submenu__link"><i class="icon-arrow-back"></i> Back</a>
                </li>
                {{ range .Children }}
                <li class="submenu__item">
                  <a href="{{ .URL }}" class="submenu__link">{{ .Name }}</a>
                </li>
                {{ end }}
              </ul>
            {{ else }}
              <a href="{{ .URL }}" class="menu__link">
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
            {{ end }}
          </li>

        {{ end }}

        <li class="menu__item">
          <a href="#" class="menu__link" target="_blank">Hardcoded Link 1</a>
        </li>
      </ul>

      <div class="hamburger">
        <span class="hamburger__item"></span>
        <span class="hamburger__item"></span>
        <span class="hamburger__item"></span>
        <span class="hamburger__item"></span>
      </div>
      
    </nav>

  </div>
</header>