.page-main {
  &#home-page {
    @extend %flex-column;
    align-items: center;
    justify-content: center;
  }
  .docs {
    max-width: 768px;
    margin: 0 auto;
    @include media('<tablet-md') {
      max-width: 100%;
    }
    h1 {
      text-align: center;
      margin: 0 0 30px;
      @include media('<tablet-md') {
        font-size: 3em;
        margin: 0 0 15px;
      }
    }
    .hljs {
      font-size: 12px;
    }
  }
}
