@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700&display=swap');

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon/icomoon.woff?9e0ffy') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-back:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e900";
}