.blog,
.categories {
  @extend %flex-row;
  margin: 30px -15px 0;
  [class^=col] {
    margin: 0 0 30px;
  }
}

.blog__post,
.categories .category {
  height: 100%;
  box-shadow: 0 0 3px 0 rgba(map-deep-get($colors, 'theme', 'satan'), 0.25);
  transition: all $animation-time ease;
  &:hover {
    box-shadow: 0 0 8px 0 rgba(map-deep-get($colors, 'theme', 'satan'), 0.5);
    transform: scale(1.01);
    @include media('<=tablet-lg') {
      box-shadow: 0 0 3px 0 rgba(map-deep-get($colors, 'theme', 'satan'), 0.25);
      transform: none;
    }
  }
}

.blog__post {
  @extend %flex-column;
  &--image {
    display: block;
  }
  &--info {
    flex-grow: 1;
    display: block;
    padding: 15px;
    .h3 {
      font: bold 26px/1.24em map-get($fonts, 'Abel');
      letter-spacing: 1.2px;
      color: map-deep-get($colors, 'theme', 'dark');
      max-height: 64px;
      overflow: hidden;
    }
    .summary {
      margin: 15px 0 0;
      font: 400 14px/1.24em map-get($fonts, 'SourceSansPro');
      letter-spacing: 0.5px;
      color: map-deep-get($colors, 'theme', 'satan');
    }
  }
  &--meta {
    padding: 0 15px 15px;
    display: flex;
    justify-content: space-between;
    .category {
      font-weight: bold;
      color: map-deep-get($colors, 'theme', 'satan');
      transition: color $animation-time ease;
      &:hover {
        color: map-deep-get($colors, 'theme', 'dark');
      }
    }
    time {
      color: map-deep-get($colors, 'theme', 'satan');
    }
  }
}

.category {
  text-align: center;
  &:hover {
    a {
      color: map-deep-get($colors, 'theme', 'dark');
    }
  }
  a {
    @include flex-centering;
    height: inherit;
    width: 100%;
    color: map-deep-get($colors, 'theme', 'satan');
    transition: color $animation-time ease;
  }
  .h3 {
    line-height: 1.24em;
    @include media('<=desktop-md') {
      font-size: 36px;
      padding: 5px 0;
    }
    @include media('<=phone-lg') {
      font-size: 28px;
      padding: 10px 0;
    }
    @include media('<=phone-md') {
      font-size: 22px;
    }
  }
}

.single-post {
  padding: 30px 0;
  &__image {
    margin: 0 0 30px;
  }
  &__content {
    max-width: 70%;
    margin: 0 auto;
    @include media('<=tablet-md') {
      min-width: 100%;
    }
    p {
      font: 18px/1.5em map-get($fonts, 'SourceSansPro');
      margin: 0 0 1em;
      color: map-deep-get($colors, 'theme', 'dark');
      @include media('<=tablet-md') {
        font-size: 14px;
      }
    }
  }
}