.section-title {
  .h2 {
    margin: 0 0 5px;
    font: bold 60px/1.24em map-get($fonts, 'Abel');
    letter-spacing: 1.5px;
    color: map-deep-get($colors, 'theme', 'dark');
    @include media('<=tablet-lg') {
      font-size: 45px;
      letter-spacing: 1px;
    }
    @include media('<=phone-lg') {
      font-size: 30px;
      letter-spacing: .75px;
    }
  }
  .desctiption, 
  .back-to-blog {
    margin: 0;
    font: 400 18px/1.24em map-get($fonts, 'SourceSansPro');
    letter-spacing: .5px;
    color: map-deep-get($colors, 'theme', 'satan');
    @include media('<=phone-lg') {
      font-size: 14px;
      letter-spacing: .2px;
    }
  }
  .back-to-blog {
    transition: color $animation-time ease;
    &:hover {
      color: map-deep-get($colors, 'theme', 'dark');
    }
    [class^=icon] {
      font-size: 16px;
      @include media('<=phone-lg') {
        font-size: 12px;
      }
    }
  }
}