.site-logo {
  @extend %flex-row, %ai-center;
  max-width: 250px;
  width: 100%;
  &--image {
    max-width: 100px;
    width: 100%;
    position: relative;
    height: 55px;
    margin: 20px 20px 20px 0;
    background: map-deep-get($colors, 'theme', 'logo-bg');
    @include media('<=tablet-lg') {
      max-width: 50px;
      height: 35px;
    }
    &:before,
    &:after {
      @include pseudo;
      @include square(0);
      left: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      @include media('<=tablet-lg') {
        border-width: 25px;
      }
    }
    &:before {
      top: -25px;
      border-bottom: 25px solid map-deep-get($colors, 'theme', 'logo-bg');
      @include media('<=tablet-lg') {
        top: -12.5px;
        border-bottom: 12.5px solid map-deep-get($colors, 'theme', 'logo-bg');
      }
    }
    &:after {
      bottom: -25px;
      border-top: 25px solid map-deep-get($colors, 'theme', 'logo-bg');
      @include media('<=tablet-lg') {
        bottom: -12.5px;
        border-top: 12.5px solid map-deep-get($colors, 'theme', 'logo-bg');
      }
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 70px;
      z-index: z('content');
      margin: 0 auto;
      @include media('<=tablet-lg') {
        max-width: 40px;
      }
    }
  }
  span {
    position: relative;
    font: 38px/1.24em map-get($fonts, 'Abel');
    letter-spacing: 5px;
    color: map-deep-get($colors, 'theme', 'dark');
    @include media('<=tablet-lg') {
      font-size: 30px;
    }
    &:before {
      @include pseudo;
      bottom: 0;
      width: 0;
      height: 2px;
      background: map-deep-get($colors, 'theme', 'dark');
      transition: width $animation-time ease;
    }
    &:hover:before {
      width: 100%;
    }
  }
}