{{ define "main" }}

  <section class="s-blog">
    <div class="container">

      <div class="section-title">

        {{ if eq .Section "blog" }}

          <!-- Title for blog page -->
          {{ with .Site.Data.example }}
            {{ if .section_enable }}
              <h2 class="h2">{{ .blog_title }}</h2>
              <p class="desctiption">{{ .blog_description }}</p>
            {{ end }}
          {{ end }}

        {{ else if eq .Section "category" }}

          <!-- Title for other pages -->
          <h2 class="h2">{{ .Title }}</h2>
          <a href="/blog/" class="back-to-blog"><i class="icon-arrow-back"></i> Back to all posts</a>

        {{ end }}
        
      </div>
      
      <div class="blog">
        
        {{ range .Data.Pages }}
          <div class="col-4 col-t-6 col-m-4">
            <div class="blog__post">
              <a href="{{ .Permalink }}" title="{{ .Title }}" class="blog__post--image">
                <img src="{{ .Params.image }}" alt="{{ .Title }}">
              </a>
              <a href="{{ .Permalink }}" title="{{ .Title }}" class="blog__post--info">
                <h3 class="h3">{{ .Title }}</h3>
                <p class="summary">{{ slicestr .Summary 0 300 | markdownify }}</p>
              </a>
              <div class="blog__post--meta">
                {{ with .Params.Category }}
                  <a href="/category{{ . | urlize | relURL }}" title="Category: {{ . }}" class="category"> {{ . }}</a>
                {{ end }}
                <time>{{ dateFormat "January 2, 2006" .Date }}</time>
              </div>
            </div>
          </div>
        {{ end }}
        
      </div>
      
    </div>
  </section>

{{ end }}