{{ define "main" }}

  <section class="s-blog">
    <div class="container">

      <div class="section-title">
        <h2 class="h2">{{ .Title }}</h2>
        <a href="/blog/" class="back-to-blog"><i class="icon-arrow-back"></i> Back to all posts</a>
      </div>
      
      <div class="categories">
        
        {{ range .Data.Pages }}
          <div class="col-3 col-t-6 col-m-2">
            <div class="category">
              <a href="{{ .Permalink }}">
                <h3 class="h3">{{ .Title }}</h3>
              </a>
            </div>
          </div>
        {{ end }}
        
      </div>
      
    </div>
  </section>

{{ end }}